* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-image: url("assets/wooden-texture.jpg");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    color: black;
    margin: 0 auto;
    text-align: center;
}

header {
    height: 10vh;
    width: 100%;
    font-size: 1.5em;
    background-color: rgba(214, 214, 214, 0.8);
    border-bottom: 1px solid rgb(128, 128, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

nav ul {
    list-style-type: none;
}

nav li {
    font-size: 1rem;
    margin-right: 2rem;
}

nav li a,
nav a:hover,
nav a:active,
nav a:visited,
nav a:focus {
    text-decoration: none;
    color: black;
}

.logo {
    width: 70px;
}

.title {
    font-size: 1.3rem;
}

main {
    position: relative;
    height: 90vh;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    /* border: 3px lightgreen dotted; */
    height: 90%;
    width: 85%;
    background-color: white;
    filter: drop-shadow(1rem 1rem 1rem rgb(41, 41, 41));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
}

.box p {
    line-height: 4rem;
    text-align: left;
}

.container {
    /* border: 2px aqua dotted;*/
    outline: 1px red solid;
    width: 100%;
    height: 95%;
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    overflow: scroll;
}

.container img {
    width: 100%;
}

.icon {
    height: 7rem;
    width: 7rem;
    background-color: white;
    /* overflow: hidden; */
    /* outline: 1px aqua solid; */
}

.icon-image {
    width: 80%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgb(102, 102, 102));
    /* outline: 1px solid green; */
}

.icon-image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.icon-description {
    position: relative;
    display: inline;
    padding: 0.3rem 0.5rem;
    width: 100%;
    top: -0.5rem;
    left: 1.8rem;
    color: white;
    background-color: black;
    border-radius: 0.3rem;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgb(102, 102, 102));
    /* outline: 1px solid purple; */
}

.hint {
    /*border: 2px violet solid;*/
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introImage {
    width: 70% !important;
    height: auto;
}

.results {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.results img {
    width: 80%;
    height: 8rem;
    ;
}

.resultContainer {
    width: 100%;
    color: black;
}

@media only screen and (min-width: 800px) {
    .container.hints {
        /*border: 2px rgb(190, 44, 159) solid;*/
        width: 100%;
        height: 90%;
        color: black;
        display: block;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        overflow: scroll;
        display: grid;
        grid-template-rows: 150px, 150px;
        grid-template-columns: 400px;
        justify-content: right;
        align-content: flex-end;
    }
    .container.hints img {
        position: absolute;
        left: 0px;
        top: 50px;
        width: auto;
        height: 65vh;
        float: left;
        z-index: 0;
    }
    .container div.hintdiv {
        z-index: 1;
        /* position: absolute;
        right:40px;
       bottom:50px;
        width:400px;
        height: 300px; */
        border: 2px black solid;
        background-color: rgb(127, 109, 207);
    }
    .results {
        width: 100%;
        height: auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .results img {
        width: 40%;
        height: 15rem;
    }
    .icon-box {
        height: 10rem;
        width: 10rem;
    }
}